<!-- <ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-grid>

    <!-- LOGO -->
    <ion-row>
      <ion-col text-center>
        <img class="main-logo" src="../assets/imgs/mixcloud_logo.png" alt="mixcloud-logo" />
      </ion-col>
    </ion-row>

    <!-- Search Form -->
    <ion-row>
      <ion-col>
        <form class="user-search-form" (ngSubmit)="get_music()" text-center>
          <ion-label stacked>Enter a username…</ion-label>
          <ion-input [(ngModel)]="username" name="username" type="text"></ion-input>
          <button ion-button color="dark" outline type="submit">Search</button>
        </form>
      </ion-col>
    </ion-row>

    <button type="button" ion-button (tap)="get_popular()" color="light">Popular</button>

    <!-- Search Result -->
    <ion-row>
      <ion-col text-center>
        <p>
          {{ noUserName }}
        </p>

        <div *ngIf="music">
          <ion-list>
            <ion-item>
              <strong>Username: </strong>{{ music.name }}
            </ion-item>
            <ion-item>
              <strong>Lives: </strong>{{ music.city }}
            </ion-item>
            <ion-item>
              <strong>Country: </strong>{{ music.country }}
            </ion-item>
            <ion-item>
              <strong>Following: </strong>
              <ion-badge item-end>
                {{ music.following_count }}
              </ion-badge>
            </ion-item>
            <ion-item>
              <strong>Followers: </strong>
              <ion-badge item-end>
                {{ music.follower_count }}
              </ion-badge>
            </ion-item>
            <ion-item>
              <img src="{{ music.pictures.large }}" alt="">
            </ion-item>
            <ion-item>
              <strong>About: </strong>{{ music.biog }}
            </ion-item>
            <ion-item>
              <strong>Member since: </strong>{{ music.created_time | date : 'd.M.yyyy' }}
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>

    <!-- Popular Result -->
    <ion-row>
      <ion-col text-center>

        <div *ngIf="popular">
          <h3>{{ popular.name }}</h3>
          <ion-list *ngFor="let item of popular.data">
            <ion-item>
              <a href="{{ item.url }}">{{ item.name }}</a>
            </ion-item>
            <ion-item>
              <strong>Uploaded by: </strong>
              <a href="{{ item.user.url }}">
                {{ item.user.username }}
              </a>, {{ item.created_time | date : 'd.M.yyyy' }}
            </ion-item>

          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
