.main-logo {
  width: 100px;
  margin-top: 20px;
}

.user-search-form {
  .input {
    background: color($colors, light);
    border-bottom: 1px solid color($colors, dark);
    width: 50%;
    margin: 20px auto;
  }
}
